<a href="https://colab.research.google.com/github/oriolgarrobe/text-mining/blob/master/l5/TM-L5_Erik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L5: Information extraction

Information extraction (IE) is the task of identifying named entities and semantic relations between these entities in text data. In this lab we will focus on two sub-tasks in IE, **named entity recognition** (identifying mentions of entities) and **entity linking** (matching these mentions to entities in a knowledge base).

We start by loading spaCy:

In [1]:
import spacy

nlp = spacy.load('en_core_web_sm')

The data that we will be using has been tokenized following the conventions of the [Penn Treebank](ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html), and we need to prevent spaCy from using its own tokenizer on top of this. We therefore override spaCy&rsquo;s tokenizer with one that simply splits on space.

In [2]:
from spacy.tokens import Doc

class WhitespaceTokenizer(object):
    def __init__(self, vocab):
        self.vocab = vocab

    def __call__(self, text):
        return Doc(self.vocab, words=text.split(' '))

nlp.tokenizer = WhitespaceTokenizer(nlp.vocab)

## Data set

The main data set for this lab is a collection of news wire articles in which mentions of named entities have been annotated with page names from the [English Wikipedia](https://en.wikipedia.org/wiki/). The next code cell loads the training and the development parts of the data into Pandas data frames.

In [3]:
import bz2
import csv
import pandas as pd

with bz2.open('ner-train.tsv.bz2', 'rt') as source:
    df_train = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

with bz2.open('ner-dev.tsv.bz2', 'rt') as source:
    df_dev = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

Each row in these two data frames corresponds to one mention of a named entity and has five columns:

1. a unique identifier for the sentence containing the entity mention
2. the pre-tokenized sentence, with tokens separated by spaces
3. the start position of the token span containing the entity mention
4. the end position of the token span (exclusive, as in Python list indexing)
5. the entity label; either a Wikipedia page name or the generic label `--NME--`

The following cell prints the first five samples from the training data:

In [4]:
df_train.head()

  sentence_id  ...           label
0    0000-000  ...         --NME--
1    0000-000  ...         Germany
2    0000-000  ...  United_Kingdom
3    0000-001  ...         --NME--
4    0000-002  ...        Brussels

[5 rows x 5 columns]

In this sample, we see that the first sentence is annotated with three entity mentions:

* the span 0–1 &lsquo;EU&rsquo; is annotated as a mention but only labelled with the generic `--NME--`
* the span 2–3 &lsquo;German&rsquo; is annotated with the page [Germany](http://en.wikipedia.org/wiki/Germany)
* the span 6–7 &lsquo;British&rsquo; is annotated with the page [United_Kingdom](http://en.wikipedia.org/wiki/United_Kingdom)

## Problem 1: Evaluation measures

To warm up, we ask you to write code to print the three measures that you will be using for evaluation:

In [5]:
def evaluation_report(gold, pred):
    """Print precision, recall, and F1 score.
    
    Args:
        gold: The set with the gold-standard values.
        pred: The set with the predicted values.
    
    Returns:
        Nothing, but prints the precision, recall, and F1 values computed
        based on the specified sets.
    """
    # TODO: Replace the next line with your own code
    
    tp = gold.intersection(pred) # true positives
    
    precision = len(tp)/len(pred)
    
    recall = len(tp)/len(gold)
    
    f1 = 2*precision*recall/(precision+recall)
    
    print(f'Precision: {round(precision*100)}%\n')
    print(f'Recall: {round(recall*100)}%\n')
    print(f'F1-score: {round(f1*100)}%')

To test your code, you can run the following cell:

In [6]:
evaluation_report(set(range(3)), set(range(5)))

Precision: 60%

Recall: 100%

F1-score: 75%

This should give you a precision of 60%, a recall of 100%, and an F1-value of 75%.

## Problem 2: Span recognition

One of the first tasks that an information extraction system has to solve is to locate and classify (mentions of) named entities, such as persons and organizations. Here we will tackle the simpler task of recognizing **spans** of tokens that contain an entity mention, without the actual entity label.

The English language model in spaCy features a full-fledged [named entity recognizer](https://spacy.io/usage/linguistic-features#named-entities) that identifies a variety of entities, and can be updated with new entity types by the user. Your task in this problem is to evaluate the performance of this component when predicting entity spans in the development data.

Start by implementing a generator function that yields the gold-standard spans in a given data frame.

**Hint:** The Pandas method [`itertuples()`](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.itertuples.html) is useful when iterating over the rows in a DataFrame.

In [7]:
def gold_spans(df):
    """Yield the gold-standard mention spans in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # TODO: Replace the next line with your own code
    
    for row in df.itertuples():
        yield (row[1],row[3],row[4])

To test your code, you can count the spans yielded by your function. When called on the development data, you should get a total of 5,917 unique triples. The first triple and the last triple should be

    ('0946-000', 2, 3)
    ('1161-010', 1, 3)

In [8]:
spans_dev_gold = set(gold_spans(df_dev))
spans_dev_gold_l = list(gold_spans(df_dev))

print(len(spans_dev_gold))
print(spans_dev_gold_l[0])
print(spans_dev_gold_l[5916])

5917
('0946-000', 2, 3)
('1161-010', 1, 3)

Your next task is to write code that calls spaCy to predict the named entities in the development data, and to evaluate the accuracy of these predictions in terms of precision, recall, and F1. Print these scores using the function that you wrote for Problem&nbsp;1.

In [9]:
# TODO: Write code here to run and evaluate the spaCy NER on the development data
def predict(df):
    for row in df.itertuples():
        sentence = nlp(row[2])
        for ent in sentence.ents:
            start = sentence.text.split(' ').index(ent.text.split(' ')[0])
            yield (row[1], start, start+len(ent.text.split(' ')))

In [10]:
preds_dev_gold = set(predict(df_dev)) #predictions of dev data

evaluation_report(spans_dev_gold, preds_dev_gold)

Precision: 52%

Recall: 67%

F1-score: 59%

## Problem 3: Error analysis

As you were able to see in Problem&nbsp;2, the span accuracy of the named entity recognizer is far from perfect. In particular, only slightly more than half of the predicted spans are correct according to the gold standard. Your next task is to analyse this result in more detail.

Here is a function that prints the false positives as well as the false negatives spans for a data frame, given a reference set of gold-standard spans and a candidate set of predicted spans.

In [11]:
from collections import defaultdict

def error_report(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e in spans_pred - spans_gold:
        false_pos[s].append((b, e))
    false_neg = defaultdict(list)
    for s, b, e in spans_gold - spans_pred:
        false_neg[s].append((b, e))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]))
            for b, e in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]))

Use this function to inspect and analyse the errors that the automated prediction makes. Can you see any patterns? Base your analysis on the first 500 rows of the training data. Summarize your observations in a short text.

In [12]:
# TODO: Write code here to do your analysis
df_base = df_train.head(500)
spans_gold = set(gold_spans(df_base))
spans_pred = set(predict(df_base))

In [13]:
error_report(df_base, spans_gold, spans_pred)

Sentence: The European Commission said on Thursday it disagreed with German advice to consumers to shun British lamb until scientists determine whether mad cow disease can be transmitted to sheep .
  FP: Thursday
  FP: The European Commission
  FN: European Commission
Sentence: Germany 's representative to the European Union 's veterinary committee Werner Zwingmann said on Wednesday consumers should buy sheepmeat from countries other than Britain until the scientific advice was clearer .
  FP: Wednesday
  FP: the European Union 's
  FN: European Union
Sentence: He said further scientific study was required and if it was found that action was needed it should be taken by the European Union .
  FP: the European Union
  FN: European Union
Sentence: He said a proposal last month by EU Farm Commissioner Franz Fischler to ban sheep brains , spleens and spinal cords from the human and animal food chains was a highly specific and precautionary move to protect human health .
  FP: EU Farm
  FP: last month
  FN: EU
Sentence: Fischler proposed EU-wide measures after reports from Britain and France that under laboratory conditions sheep could contract Bovine Spongiform Encephalopathy ( BSE ) -- mad cow disease .
  FN: BSE
Sentence: The EU 's scientific veterinary and multidisciplinary committees are due to re-examine the issue early next month and make recommendations to the senior veterinary officials .
  FP: early next month
Sentence: Sheep have long been known to contract scrapie , a brain-wasting disease similar to BSE which is believed to have been transferred to cattle through feed containing animal waste .
  FN: BSE
Sentence: British farmers denied on Thursday there was any danger to human health from their sheep , but expressed concern that German government advice to consumers to avoid British lamb might influence consumers across Europe .
  FP: Thursday
  FN: British
Sentence: " What we have to be extremely careful of is how other countries are going to take Germany 's lead , " Welsh National Farmers ' Union ( NFU ) chairman John Lloyd Jones said on BBC radio .
  FP: BBC
  FN: BBC radio
Sentence: Bonn has led efforts to protect public health after consumer confidence collapsed in March after a British report suggested humans could contract an illness similar to mad cow disease by eating contaminated beef .
  FP: March
Sentence: Germany imported 47,600 sheep from Britain last year , nearly half of total imports .
  FP: 47,600
  FP: last year
  FP: nearly half
Sentence: It brought in 4,275 tonnes of British mutton , some 10 percent of overall imports .
  FP: some 10 percent
  FP: 4,275 tonnes
Sentence: Rare Hendrix song draft sells for almost $ 17,000 .
  FP: almost $ 17,000
  FP: Rare Hendrix
  FN: Hendrix
Sentence: A rare early handwritten draft of a song by U.S. guitar legend Jimi Hendrix was sold for almost $ 17,000 on Thursday at an auction of some of the late musician 's favourite possessions .
  FP: almost $ 17,000
  FP: Thursday
Sentence: A Florida restaurant paid 10,925 pounds ( $ 16,935 ) for the draft of " Ai n't no telling " , which Hendrix penned on a piece of London hotel stationery in late 1966 .
  FP: 10,925 pounds
  FP: 16,935
  FP: late 1966
  FN: Ai n't no telling
Sentence: At the end of a January 1967 concert in the English city of Nottingham he threw the sheet of paper into the audience , where it was retrieved by a fan .
  FP: the end of a January 1967
Sentence: Buyers also snapped up 16 other items that were put up for auction by Hendrix 's former girlfriend Kathy Etchingham , who lived with him from 1966 to 1969 .
  FP: 16
  FP: 1966 to 1969
Sentence: They included a black lacquer and mother of pearl inlaid box used by Hendrix to store his drugs , which an anonymous Australian purchaser bought for 5,060 pounds ( $ 7,845 ) .
  FP: 7,845
  FP: 5,060 pounds
Sentence: China on Thursday accused Taipei of spoiling the atmosphere for a resumption of talks across the Taiwan Strait with a visit to Ukraine by Taiwanese Vice President Lien Chan this week that infuriated Beijing .
  FP: Thursday
  FP: this week
  FP: the atmosphere for
  FN: Taiwan Strait
Sentence: Speaking only hours after Chinese state media said the time was right to engage in political talks with Taiwan , Foreign Ministry spokesman Shen Guofang told Reuters : " The necessary atmosphere for the opening of the talks has been disrupted by the Taiwan authorities . "
  FP: only hours
  FN: Taiwan
Sentence: State media quoted China 's top negotiator with Taipei , Tang Shubei , as telling a visiting group from Taiwan on Wednesday that it was time for the rivals to hold political talks .
  FP: Wednesday
Sentence: that is to end the state of hostility , " Thursday 's overseas edition of the People 's Daily quoted Tang as saying .
  FP: the state of hostility
  FP: Thursday
  FN: People 's Daily
Sentence: China , which has long opposed all Taipei efforts to gain greater international recognition , was infuriated by a visit to Ukraine this week by Taiwanese Vice President Lien .
  FP: this week
Sentence: Consultations should be held to set the time and format of the talks , the official Xinhua news agency quoted Tang Shubei , executive vice chairman of the Association for Relations Across the Taiwan Straits , as saying late on Wednesday .
  FP: Xinhua news agency
  FP: Wednesday
  FP: the time and format of the talks ,
  FN: Xinhua
  FN: Association for Relations Across the Taiwan Straits
Sentence: German July car registrations up 14.2 pct yr / yr .
  FP: 14.2
  FP: July
Sentence: FRANKFURT 1996-08-22
  FN: FRANKFURT
Sentence: German first-time registrations of motor vehicles jumped 14.2 percent in July this year from the year-earlier period , the Federal office for motor vehicles said on Thursday .
  FP: Thursday
  FP: this year
  FP: July
  FP: 14.2 percent
  FN: Federal office for motor vehicles
Sentence: Volkswagen AG won 77,719 registrations , slightly more than a quarter of the total .
  FP: 77,719
Sentence: Opel AG together with General Motors came in second place with 49,269 registrations , 16.4 percent of the overall figure .
  FP: 49,269
  FP: second
  FP: 16.4 percent
Sentence: Third was Ford with 35,563 registrations , or 11.7 percent .
  FP: 35,563
  FP: 11.7 percent
  FP: Third
Sentence: Only Seat and Porsche had fewer registrations in July 1996 compared to last year 's July .
  FP: July
  FP: July 1996
  FP: last year 's
Sentence: Seat posted 3,420 registrations compared with 5522 registrations in July a year earlier .
  FP: July
  FP: 3,420
  FP: a year earlier
  FP: 5522
  FN: Seat
Sentence: Porsche 's registrations fell to 554 from 643 .
  FP: 554
  FP: 643
Sentence: GREEK SOCIALISTS GIVE GREEN LIGHT TO PM FOR ELECTIONS .
  FP: GREEN LIGHT
  FN: GREEK
Sentence: The Greek socialist party 's executive bureau gave the green light to Prime Minister Costas Simitis to call snap elections , its general secretary Costas Skandalidis told reporters .
  FN: Costas Skandalidis
Sentence: Prime Minister Costas Simitis is going to make an official announcement after a cabinet meeting later on Thursday , said Skandalidis .
  FP: Thursday
Sentence: -- Dimitris Kontogiannis , Athens Newsroom +301 3311812-4
  FP: -- Dimitris Kontogiannis ,
  FN: Dimitris Kontogiannis
Sentence: BayerVB sets C$ 100 million six-year bond .
  FP: C$ 100 million
  FN: C$
  FN: BayerVB
Sentence: BORROWER BAYERISCHE VEREINSBANK
  FN: BAYERISCHE VEREINSBANK
Sentence: AMT C$ 100 MLN COUPON 6.625 MATURITY 24.SEP.02
  FN: C$
Sentence: S&P = DENOMS ( K ) 1-10-100 SALE LIMITS US / UK / CA
  FP: SALE
  FP: DENOMS
  FN: UK
  FN: US
  FN: CA
Sentence: GOV LAW GERMAN HOME CTRY = TAX PROVS STANDARD
  FN: GERMAN
Sentence: NOTES BAYERISCHE VEREINSBANK IS JOINT LEAD MANAGER
  FN: BAYERISCHE VEREINSBANK
Sentence: -- London Newsroom +44 171 542 7658
  FP: 171
  FP: -- London Newsroom +44
  FN: London Newsroom
Sentence: Venantius sets $ 300 million January 1999 FRN .
  FP: $ 300 million
  FP: FRN
  FP: January 1999
  FN: Venantius
Sentence: BORROWER VENANTIUS AB ( SWEDISH NATIONAL MORTGAGE AGENCY )
  FP: BORROWER VENANTIUS AB
  FP: SWEDISH NATIONAL MORTGAGE AGENCY
  FN: VENANTIUS AB
  FN: SWEDISH
Sentence: TYPE FRN BASE 3M LIBOR PAY DATE S23.SEP.96
  FN: 3M
Sentence: LAST S&P AA+ REOFFER =
  FN: S&P
Sentence: LISTING LONDON DENOMS ( K ) 1-10-100 SALE LIMITS US / UK / JP / FR
  FN: UK
  FN: JP
  FN: FR
Sentence: GOV LAW ENGLISH HOME CTRY SWEDEN TAX PROVS STANDARD
  FP: ENGLISH HOME
  FN: ENGLISH
  FN: SWEDEN
Sentence: -- London Newsroom +44 171 542 8863
  FP: -- London Newsroom +44
  FP: 171 542 8863
  FN: London Newsroom
Sentence: Port conditions update - Syria - Lloyds Shipping .
  FN: Lloyds Shipping
Sentence: LATTAKIA , Aug 10 - waiting time at Lattakia and Tartous presently 24 hours .
  FP: Lattakia and Tartous
  FP: 24 hours
  FP: 10
  FN: Lattakia
  FN: LATTAKIA
  FN: Tartous
Sentence: JERUSALEM 1996-08-22
  FN: JERUSALEM
Sentence: Israel 's outgoing peace negotiator with Syria said on Thursday current tensions between the two countries appeared to be a storm in a teacup .
  FP: Thursday
  FP: two
Sentence: Itamar Rabinovich , who as Israel 's ambassador to Washington conducted unfruitful negotiations with Syria , told Israel Radio it looked like Damascus wanted to talk rather than fight .
  FP: Israel 's
  FN: Israel Radio
Sentence: Israel on Wednesday sent Syria a message , via Washington , saying it was committed to peace and wanted to open negotiations without preconditions .
  FP: Wednesday
Sentence: Syria accused Israel on Wednesday of launching a hysterical campaign against it after Israeli television reported that Damascus had recently test fired a missile .
  FP: Wednesday
Sentence: " The message that we sent to ( Syrian President Hafez al- ) Assad is that Israel is ready at any time without preconditions to enter peace negotiations , " Israeli Foreign Minister David Levy told Israel Radio in an interview .
  FP: Israel is
  FN: Israel Radio
Sentence: Tension has mounted since Israeli Prime Minister Benjamin Netanyahu took office in June vowing to retain the Golan Heights Israel captured from Syria in the 1967 Middle East war .
  FP: June
  FP: 1967
  FN: Golan Heights
Sentence: Israeli-Syrian peace talks have been deadlocked over the Golan since 1991 despite the previous government 's willingness to make Golan concessions .
  FP: 1991
  FN: Golan
Sentence: Israel 's Channel Two television said Damascus had sent a " calming signal " to Israel .
  FN: Israel
Sentence: The television also said that Netanyahu had sent messages to reassure Syria via Cairo , the United States and Moscow .
  FP: the United States
  FN: United States
Sentence: TUNIS 1996-08-22
  FN: TUNIS
Sentence: A Polish diplomat on Thursday denied a Polish tabloid report this week that Libya was refusing exit visas to 100 Polish nurses trying to return home after working in the North African country .
  FP: 100
  FP: Thursday
  FP: this week
  FN: Polish
  FN: Polish
Sentence: Up to today , we have no knowledge of any nurse stranded or kept in Libya without her will , and we have not received any complaint , " the Polish embassy 's charge d'affaires in Tripoli , Tadeusz Awdankiewicz , told Reuters by telephone .
  FP: today
Sentence: Poland 's labour ministry said this week it would send a team to Libya to investigate , but Awdankiewicz said the probe was prompted by some nurses complaining about their work conditions such as non-payment of their salaries .
  FP: this week
Sentence: He said that there are an estimated 800 Polish nurses working in Libya .
  FP: an estimated 800
Sentence: Two Iranian opposition leaders meet in Baghdad .
  FP: Two
Sentence: BAGHDAD 1996-08-22
  FN: BAGHDAD
Sentence: An Iranian exile group based in Iraq vowed on Thursday to extend support to Iran 's Kurdish rebels after they were attacked by Iranian troops deep inside Iraq last month .
  FP: Thursday
  FP: last month
  FN: Iranian
  FN: Iraq
Sentence: A Mujahideen Khalq statement said its leader Massoud Rajavi met in Baghdad the Secretary-General of the Kurdistan Democratic Party of Iran ( KDPI ) Hassan Rastegar on Wednesday and voiced his support to Iran 's rebel Kurds .
  FP: Wednesday
  FP: the Secretary-General of the Kurdistan Democratic
  FP: Iran
  FN: Iran
  FN: Mujahideen Khalq
  FN: Kurdistan Democratic Party of Iran
Sentence: " Rajavi emphasised that the Iranian Resistance would continue to stand side by side with their Kurdish compatriots and the resistance movement in Iranian Kurdistan , " it said .
  FP: the Iranian Resistance
  FP: Kurdistan
  FN: Resistance
  FN: Rajavi
  FN: Iranian Kurdistan
Sentence: A spokesman for the group said the meeting " signals a new level of cooperation between Mujahideen Khalq and the Iranian Kurdish oppositions " .
  FP: Iranian
  FP: Kurdish
  FN: Mujahideen Khalq
  FN: Iranian Kurdish
Sentence: Iran heavily bombarded targets in northern Iraq in July in pursuit of KDPI guerrillas based in Iraqi Kurdish areas outside the control of the government in Baghdad .
  FP: July
  FP: Kurdish
  FP: Iraqi
  FN: Iraqi Kurdish
Sentence: Iraqi Kurdish areas bordering Iran are under the control of guerrillas of the Iraqi Kurdish Patriotic Union of Kurdistan ( PUK ) group .
  FP: Kurdish
  FP: the control of guerrillas of the Iraqi
  FP: Iraqi
  FN: Iraqi Kurdish
  FN: PUK
  FN: Iraqi Kurdish Patriotic Union of Kurdistan
Sentence: PUK and Iraq 's Kurdistan Democratic Party ( KDP ) the two main Iraqi Kurdish factions , have had northern Iraq under their control since Iraqi forces were ousted from Kuwait in the 1991 Gulf War .
  FP: Kurdish
  FP: two
  FP: the two main Iraqi
  FP: Iraqi
  FN: Gulf War
  FN: Iraqi
  FN: Iraq
  FN: Iraqi Kurdish
Sentence: Clashes between the two parties broke out at the weekend in the most serious fighting since a U.S.-sponsored ceasefire last year .
  FP: the two
  FP: last year
  FP: two
  FN: U.S.-sponsored
Sentence: Mujahideen Khalq said Iranian troops had also been shelling KDP positions in Qasri region in Suleimaniya province near the Iranian border over the last two days .
  FP: the Iranian border over
  FP: Suleimaniya province
  FN: Suleimaniya
  FN: Iranian
Sentence: It said about 100 Iraqi Kurds were killed or wounded in the attack .
  FP: Kurds
  FP: Iraqi
  FP: about 100
  FN: Iraqi Kurds
Sentence: A U.S.-led air force in southern Turkey protects Iraqi Kurds from possible attacks by Baghdad troops .
  FP: Iraqi
  FP: Kurds
  FN: Iraqi Kurds
  FN: U.S.-led
Sentence: Saudi riyal rates steady in quiet summer trade .
  FP: summer
Sentence: MANAMA 1996-08-22
  FN: MANAMA
Sentence: The spot Saudi riyal against the dollar and riyal interbank deposit rates were mainly steady this week in quiet summer trade , dealers in the kingdom said .
  FP: this week
  FP: summer
  FP: kingdom
Sentence: One-month interbank deposits were at 5-1/2 , 3/8 percent , three months were 5-5/8 , 1/2 percent and six months were 5-3/4 , 5/8 percent .
  FP: three months
  FP: 5-5/8 , 1/2 percent
  FP: six months
  FP: 3/8 percent
  FP: 5/8 percent
  FP: 5-1/2
  FP: 5-3/4
  FN: One-month
Sentence: One-year funds were at six , 5-7/8 percent .
  FP: six
  FP: 5-7/8 percent
  FN: One-year
Sentence: JERUSALEM 1996-08-22
  FN: JERUSALEM
Sentence: Israel gave Palestinian President Yasser Arafat permission on Thursday to fly over its territory to the West Bank , ending a brief Israeli-PLO crisis , an Arafat adviser said .
  FP: the West Bank
  FP: Arafat
  FP: Thursday
  FN: West Bank
  FN: Israeli-PLO
  FN: Arafat
Sentence: The president 's aircraft has received permission to pass through Israeli airspace but the president is not expected to travel to the West Bank before Monday , " Nabil Abu Rdainah told Reuters .
  FP: the president is
  FP: Monday
  FN: West Bank
Sentence: Arafat had been scheduled to meet former Israeli prime minister Shimon Peres in the West Bank town of Ramallah on Thursday but the venue was changed to Gaza after Israel denied flight clearance to the Palestinian leader 's helicopters .
  FP: Thursday
Sentence: Arafat subsequently cancelled a meeting between Israeli and PLO officials , on civilian affairs , at the Allenby Bridge crossing between Jordan and the West Bank .
  FP: the Allenby Bridge
  FN: Allenby Bridge
  FN: West Bank
Sentence: Abu Rdainah said Arafat had decided against flying to the West Bank on Thursday , after Israel lifted the ban , because he had a busy schedule in Gaza and would not be free until Monday .
  FP: Monday
  FP: Thursday
  FP: the West Bank
  FN: West Bank
Sentence: JERUSALEM 1996-08-22
  FN: JERUSALEM
Sentence: Yasser Arafat will meet Shimon Peres in Gaza on Thursday after Palestinians said the right-wing Israeli government had barred the Palestinian leader from flying to the West Bank for talks with the former prime minister .
  FP: the right-wing Israeli
  FP: Thursday
  FN: West Bank
Sentence: " The meeting between Peres and Arafat will take place at Erez checkpoint in Gaza and not in Ramallah as planned , " Peres ' office said .
  FN: Peres
Sentence: Palestinian officials said the Israeli government had barred Arafat from overflying Israel in a Palestinian helicopter to the West Bank in an attempt to bar the meeting with Peres .
  FP: the Israeli government
  FN: West Bank
  FN: Palestinian
Sentence: Israeli Prime Minister Benjamin Netanyahu has accused opposition leader Peres , who he defeated in May elections , of trying to undermine his Likud government 's authority to conduct peace talks .
  FP: May
Sentence: DUBAI 1996-08-22
  FN: DUBAI
Sentence: Three Afghan guards brought to the United Arab Emirates last week by Russian hostages who escaped from the Taleban militia will return to Afghanistan in a few days , the Afghan embassy in Abu Dhabi said on Thursday .
  FP: Three
  FP: last week
  FP: Thursday
  FP: a few days
  FP: the United Arab Emirates
  FN: Afghan
  FN: United Arab Emirates
Sentence: " Our ambassador is in touch with the UAE foreign ministry .
  FP: the UAE foreign ministry
  FN: UAE
Sentence: Their return to Afghanistan will take place in two or three days , " an embassy official said .
  FP: two or three days
Sentence: The three Islamic Taleban guards were overpowered by seven Russian aircrew who escaped to UAE state Sharjah last Friday on board their own aircraft after a year in the captivity of Taleban militia in Kandahar in southern Afghanistan .
  FP: three
  FP: a year
  FP: Taleban
  FP: last Friday
  FP: UAE state Sharjah
  FP: seven
  FN: Taleban
  FN: Sharjah
  FN: UAE
Sentence: The UAE said on Monday it would hand over the three to the International Red Crescent , possibly last Tuesday .
  FP: last Tuesday
  FP: Monday
  FP: the three to the
  FP: three
  FN: International Red Crescent
Sentence: When asked whether the three guards would travel back to Kandahar or the Afghan capital Kabul , the embassy official said : " That has not been decided , but possibly Kandahar . "
  FP: three
  FN: Kandahar
Sentence: The embassy official said the three men , believed to be in their 20s , were currently in Abu Dhabi .
  FP: three
Sentence: The Russians , working for the Aerostan firm in the Russian republic of Tatarstan , were taken hostage after a Taleban MiG-19 fighter forced their cargo plane to land in August 1995 .
  FP: the Aerostan firm in the
  FP: August 1995
  FP: Taleban MiG-19
  FN: MiG-19
  FN: Taleban
  FN: Russian
  FN: Tatarstan
Sentence: The Russians , who said they overpowered the guards -- two armed with Kalashnikov automatic rifles -- while doing regular maintenance work on their Ilyushin 76 cargo plane last Friday , left the UAE capital Abu Dhabi for home on Sunday .
  FP: Sunday
  FP: last Friday
  FP: two
Sentence: BAGHDAD 1996-08-22
  FN: BAGHDAD
Sentence: Iraqi President Saddam Hussein has told visiting Russian ultra-nationalist Vladimir Zhirinovsky that Baghdad wanted to maintain " friendship and cooperation " with Moscow , official Iraqi newspapers said on Thursday .
  FP: Thursday

*TODO: Write a short text that summarises the errors that you observed*

**Answer:**
* Predicted 'The European Comission' instead of 'European Comission'. Some predictions contain less words than the gold-label, however it is difficult to descifer which is the logic behind the prediction. 
* Predicted dates. The gold-label set does not contain dates, therefore they will be removed from the prediction. 
* Predicted numeric values. The gold-label set does not contain numeric values, they will also be removed.

Now, use the insights from your error analysis to improve the automated prediction that you implemented in Problem&nbsp;2. While the best way to do this would be to [update spaCy&rsquo;s NER model](https://spacy.io/usage/linguistic-features#updating) using domain-specific training data, for this lab it suffices to write code to post-process the output produced by spaCy. You should be able to improve the F1 score from Problem&nbsp;2 by at last 15 percentage points.

In [14]:
# TODO: Write code here to improve the span prediction from Problem 2
def predict_improved(df):
    wrong_label = ['DATE', 'CARDINAL', 'QUANTITY', 'PERCENT', 'MONEY', 'TIME', 'NAME', 'ORDINAL', 'PRODUCT']
    for row in df.itertuples():
        sentence = nlp(row[2])
        for ent in sentence.ents:
            if ent.label_ not in wrong_label:
                start = sentence.text.split(' ').index(ent.text.split(' ')[0])
                yield (row[1], start, start+len(ent.text.split(' ')))

In [15]:
preds_dev_gold = set(predict_improved(df_dev)) #predictions of dev data

evaluation_report(spans_dev_gold, preds_dev_gold)

Precision: 84%

Recall: 67%

F1-score: 74%

In [16]:
df_train.head()

  sentence_id  ...           label
0    0000-000  ...         --NME--
1    0000-000  ...         Germany
2    0000-000  ...  United_Kingdom
3    0000-001  ...         --NME--
4    0000-002  ...        Brussels

[5 rows x 5 columns]

Show that you achieve the performance goal by reporting the evaluation measures that you implemented in Problem&nbsp;1.

Before going on, we ask you to store the outputs of the improved named entity recognizer on the development data in a new data frame. This new frame should have the same layout as the original data frame for the development data that you loaded above, but should contain the *predicted* start and end positions for each token span, rather than the gold positions. As the `label` of each span, you can use the special value `--NME--`.

In [17]:
# TODO: Write code here to store the predicted spans in a new data frame
df_pred = pd.DataFrame(preds_dev_gold)
df_pred['label'] = '--NME--'
df_pred = df_pred.rename(columns={0: "sentence-id", 1: "beg", 2: "end"})
df_pred.head()

  sentence-id  beg  end    label
0    0981-011    0    4  --NME--
1    0966-005    1    3  --NME--
2    1027-007   16   17  --NME--
3    0997-007    0    1  --NME--
4    0996-002    0    1  --NME--

## Problem 4: Entity linking

Now that we have a method for predicting mention spans, we turn to the task of **entity linking**, which amounts to predicting the knowledge base entity that is referenced by a given mention. In our case, for each span we want to predict the Wikipedia page that this mention references.

Start by extending the generator function that you implemented in Problem&nbsp;2 to labelled spans.

In [18]:
def gold_mentions(df):
    """Yield the gold-standard mentions in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and entity label of each span.
    """
    # TODO: Replace the next line with your own code
    for row in df.itertuples():
        yield (row[1],row[3],row[4],row[5])

In [19]:
spans_dev_gold = set(gold_mentions(df_dev))
spans_dev_gold_l = list(gold_mentions(df_dev))

print(len(spans_dev_gold))
print(spans_dev_gold_l[0])
print(spans_dev_gold_l[5916])

5917
('0946-000', 2, 3, 'Leicestershire_County_Cricket_Club')
('1161-010', 1, 3, '--NME--')

A naive baseline for entity linking on our data set is to link each mention span to the Wikipedia page name that we get when we join the tokens in the span by underscores, as is standard in Wikipedia page names. Suppose, for example, that a span contains the two tokens

    Jimi Hendrix

The baseline Wikipedia page name for this span would be

    Jimi_Hendrix

Implement this naive baseline and evaluate its performance. Print the evaluation measures that you implemented in Problem&nbsp;1.

<div class="alert alert-warning">
    Here and in the remainder of this lab, you should base your entity predictions on the predicted spans that you computed in Problem&nbsp;3.
</div>

In [20]:
# TODO: Write code here to implement the baseline
def predict_linked(df):
    wrong_label = ['DATE', 'CARDINAL', 'QUANTITY', 'PERCENT', 'MONEY', 'TIME', 'NAME', 'ORDINAL', 'PRODUCT']
    for row in df.itertuples():
        sentence = nlp(row[2])
        for ent in sentence.ents:
            if ent.label_ not in wrong_label:
                start = sentence.text.split(' ').index(ent.text.split(' ')[0])
                label = '_'.join(ent.text.split(' '))
                yield (row[1], start, start+len(ent.text.split(' ')), label)

In [21]:
preds_dev_gold = set(predict_linked(df_dev)) #predictions of dev data

evaluation_report(spans_dev_gold, preds_dev_gold)

Precision: 32%

Recall: 25%

F1-score: 28%

In [22]:
df_pred = pd.DataFrame(preds_dev_gold)
df_pred = df_pred.rename(columns={0: "sentence-id", 1: "beg", 2: "end", 3:'label'})
df_pred.head()

  sentence-id  beg  end           label
0    1130-006   17   18         America
1    0953-012   22   25  Puerto_Rico_'s
2    1133-012    0    1            Wang
3    1003-001    0    1      PARAMARIBO
4    1049-003   24   26   Keith_O'Neill

## Problem 5: Extending the training data using the knowledge base

State-of-the-art approaches to entity linking exploit information in knowledge bases. In our case, where Wikipedia is the knowledge base, one particularly useful type of information are links to other Wikipedia pages. In particular, we can interpret the anchor texts (the highlighted texts that you click on) as mentions of the entities (pages) that they link to. This allows us to harvest long lists of mention–entity pairings.

The following cell loads a data frame summarizing anchor texts and page references harvested from the first paragraphs of the English Wikipedia. The data frame also contains all entity mentions in the training data (but not the development or the test data).

In [23]:
with bz2.open('kb.tsv.bz2', 'rt') as source:
    df_kb = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

To understand what information is available in this data, the following cell shows the entry for the anchor text `Sweden`.

In [24]:
df_kb.loc[df_kb.mention == 'Sweden']

      mention                                 entity      prob
17436  Sweden                                 Sweden  0.985768
17437  Sweden          Sweden_national_football_team  0.014173
17438  Sweden  Sweden_men's_national_ice_hockey_team  0.000059

As you can see, each row of the data frame contains a pair $(m, e)$ of a mention $m$ and an entity $e$, as well as the conditional probability $P(e|m)$ for mention $m$ referring to entity $e$. These probabilities were estimated based on the frequencies of mention–entity pairs in the knowledge base. The example shows that the anchor text &lsquo;Sweden&rsquo; is most often used to refer to the entity [Sweden](http://en.wikipedia.org/wiki/Sweden), but in a few cases also to refer to Sweden&rsquo;s national football and ice hockey teams. Note that references are sorted in decreasing order of probability, so that the most probable pairing come first.

Implement an entity linking method that resolves each mention to the most probable entity in the data frame. If the mention is not included in the data frame, you can predict the generic label `--NME--`. Print the precision, recall, and F1 of your method using the function that you implemented for Problem&nbsp;1.

In [25]:
# TODO: Write code here to implement the "most probable entity" method.

def el_method(df):    
    wrong_label = ['DATE', 'CARDINAL', 'QUANTITY', 'PERCENT', 'MONEY', 'TIME', 'NAME', 'ORDINAL', 'PRODUCT']
    for row in df.itertuples():
      sentence = nlp(row[2])
      for ent in sentence.ents:
        if ent.label_ not in wrong_label:
          start = sentence.text.split(' ').index(ent.text.split(' ')[0])
          df_ent = df_kb.entity[df_kb.mention == ent.text]
          mention = '--NME--'
          if df_ent.shape[0] > 0:
            mention = df_ent.iloc[0]
          yield (row[1], start, start+len(ent.text.split(' ')), mention)

In [26]:
el_pred = set(el_method(df_dev))
evaluation_report(spans_dev_gold, el_pred)

Precision: 65%

Recall: 51%

F1-score: 57%

In [27]:
df_pred_el = pd.DataFrame(el_pred)
df_pred_el = df_pred_el.rename(columns={0: "sentence-id", 1: "beg", 2: "end", 3:'label'})
df_pred_el.head()

  sentence-id  beg  end          label
0    1135-001    0    2        --NME--
1    1035-006   17   18        --NME--
2    1030-001    0    2  New_York_City
3    1161-005    1    3        --NME--
4    1042-001    0    2        --NME--

## Problem 6: Context-sensitive disambiguation

Consider the entity mention &lsquo;Lincoln&rsquo;. The most probable entity for this mention turns out to be [Lincoln, Nebraska](http://en.wikipedia.org/Lincoln,_Nebraska); but in pages about American history, we would be better off to predict [Abraham Lincoln](http://en.wikipedia.org/Abraham_Lincoln). This suggests that we should try to disambiguate between different entity references based on the textual context on the page from which the mention was taken. Your task in this last problem is to implement this idea.

Set up a dictionary that contains, for each mention $m$ that can refer to more than one entity $e$, a separate Naive Bayes classifier that is trained to predict the correct entity $e$, given the textual context of the mention. As the prior probabilities of the classifier, choose the probabilities $P(e|m)$ that you used in Problem&nbsp;5. To let you estimate the context-specific probabilities, we have compiled a data set with mention contexts:

In [28]:
with bz2.open('contexts.tsv.bz2') as source:
    df_contexts = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

This data frame contains, for each ambiguous mention $m$ and each knowledge base entity $e$ to which this mention can refer, up to 100 randomly selected contexts in which $m$ is used to refer to $e$. For this data, a **context** is defined as the 5 tokens to the left and the 5 tokens to the right of the mention. Here are a few examples:

In [39]:
df_contexts.head()

          mention  ...                                            context
0            1970  ...    Cup twice the first in @ and the second in 1983
1            1970  ...  America 1975 and during the @ and 1978 World C...
2  1990 World Cup  ...                 Manolo represented Spain at the @
3  1990 World Cup  ...  Hašek represented Czechoslovakia at the @ and ...
4  1990 World Cup  ...  renovations in 1989 for the @ The present capa...

[5 rows x 3 columns]

Note that, in each context, the position of the mention is indicated by the `@` symbol.

From this data frame, it is easy to select the data that you need to train the classifiers – the contexts and corresponding entities for all mentions. To illustrate this, the following cell shows how to select all contexts that belong to the mention &lsquo;Lincoln&rsquo;:

In [30]:
df_contexts.context[df_contexts.mention == 'Lincoln']

41465    Nebraska Concealed Handgun Permit In @ municip...
41466    Lazlo restaurants are located in @ and Omaha C...
41467    California Washington Overland Park Kansas @ N...
41468    City Missouri Omaha Nebraska and @ Nebraska It...
41469    by Sandhills Publishing Company in @ Nebraska USA
                               ...
41609                                      @ Leyton Orient
41610                    English division three Swansea @
41611    league membership narrowly edging out @ on goa...
41612                                          @ Cambridge
41613                                                   @
Name: context, Length: 149, dtype: object

Implement the context-sensitive disambiguation method and evaluate its performance. Here are some more hints that may help you along the way:

**Hint 1:** The prior probabilities for a Naive Bayes classifier can be specified using the `class_prior` option. You will have to provide the probabilities in the same order as the alphabetically sorted class (entity) names.

**Hint 2:** Not all mentions in the knowledge base are ambiguous, and therefore not all mentions have context data. If a mention has only one possible entity, pick that one. If a mention has no entity at all, predict the `--NME--` label.

In [45]:
def predict_ent(df):
  wrong_label = ['DATE', 'CARDINAL', 'QUANTITY', 'PERCENT', 'MONEY', 'TIME', 'NAME', 'ORDINAL', 'PRODUCT']
  for row in df.itertuples():
    sentence = nlp(row[2])
    for ent in sentence.ents:
      if ent.label_ not in wrong_label:
        start = sentence.text.split(' ').index(ent.text.split(' ')[0])
        entity = ent.text
        yield (row[1], start, start+len(ent.text.split(' ')), entity)

df_pred_ent = pd.DataFrame(set(predict_ent(df_dev)))
df_pred_ent = df_pred_ent.rename(columns={0: "sentence_id", 1: "beg", 2: "end", 3:'label'})
df_pred_ent.head()

  sentence_id  beg  end                         label
0    1043-002   14   18  the Central Narcotics Bureau
1    1130-006   17   18                       America
2    1133-012    0    1                          Wang
3    1003-001    0    1                    PARAMARIBO
4    1045-003   34   36                   David Peleg

In [67]:
NB_dict['the Central Narcotics Bureau']['1043-002']

'--NME--'

In [ ]:
df_contexts.context[df_contexts.mention=='America'].shape[0]
#X = df_contexts.context[df_contexts.mention == 'America']
#y = df_contexts.entity[df_contexts.mention == 'America']
#pipe = Pipeline(steps=[('preprocessor', CountVectorizer()), ('model', MultinomialNB())])
#pipe.fit(X,y)

In [64]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

for mention in df_pred_ent.label.unique():
  #mention_id = '_'.join(mention.split(' '))
  if df_contexts.context[df_contexts.mention==mention].shape[0] == 0:
    for s_id in df_pred_ent.sentence_id[df_pred_ent.label ==mention]:
      NB_dict[mention] = {s_id : '--NME--'}

  if df_contexts.context[df_contexts.mention==mention].shape[0] == 1:
    for s_id in df_pred_ent.sentence_id[df_pred_ent.label ==mention]:
      NB_dict[mention] = {s_id : df_contexts.entity[df_contexts.mention==mention][0]}
  
  if df_contexts.context[df_contexts.mention==mention].shape[0] > 1:
    X = df_contexts.context[df_contexts.mention == mention]
    y = df_contexts.entity[df_contexts.mention == mention]
    #class_prior=df_kb.loc[df_kb.mention == mention].sort_values('entity').prob
    pipe = Pipeline(steps=[('preprocessor', CountVectorizer()), ('model', MultinomialNB())])
    pipe.fit(X,y)

    for row in df_pred_ent.loc[df_pred_ent.label==mention].itertuples():
      NB_dict[mention] = {row[1] : pipe.predict(df_dev.sentence[df_dev.sentence_id == row[1]])}

In [68]:
def pred_csd(df):
  for row in df.itertuples():
    entity = NB_dict[row[4]][row[1]]
    yield (row[1], row[2], row[3], entity[0])

csd_pred = set(pred_csd(df_pred_ent))
df_pred_csd = pd.DataFrame(csd_pred)
df_pred_csd = df_pred_csd.rename(columns={0: "sentence_id", 1: "beg", 2: "end", 3:'label'})
df_pred_csd.head()

KeyError: ignored

In [ ]:
evaluation_report(spans_dev_gold, csd_pred)

You should expect to see a small (around 1&nbsp;unit) increase in both precision, recall, and F1.

**This was the last lab in the Text Mining course. Congratulations!**

<div class="alert alert-info">
    Please read the section ‘General information’ on the ‘Labs’ page of the course website before submitting this notebook!
</div>